$greenBlueGradientColor: linear-gradient(90deg, #3566F6, #64DBAD);
$greenBlueDarkBlueGradientColor: linear-gradient(90deg, #65DCAE, #3566F6, #000000);
$darkBlue: #070C4E;
$blueishGrey:  #E9EDFF;
$lightToBlueishGradientColor: linear-gradient(180deg, rgba(238, 242, 255, 0.04) 0%, #EEF2FF 45.79%, rgba(238, 242, 255, 0) 100%);
$blueishToLightGradientColor: linear-gradient(180deg, #EEF2FF 0%, rgba(238, 242, 255, 0) 100%);
$greenBallColor: #64DBAD;



