@import './fonts';

// *** Mobile first design ***

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFontFamily;
}

body{
    width: 100vw;
}

.no-mobile{
    display: none;

    @media only screen and (min-width: 1200px) {
        display: block;
    }
}

.no-desktop{
    @media only screen and (min-width: 1200px)  {
        display: none;
    }
}