@import '../../styles/colors';
@import '../../styles/mixins';

header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-grow: 1;
}

.headerContainer{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}

.menuIcon{
    img{
        cursor: pointer;
    }
}

.videoCallBtn{
    display: none;
}

@media only screen and (min-width: 1200px) {
    
    .headerContainer{
        background-color: $blueishGrey;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 96px;
        div:nth-child(2){
            width: fit-content !important;
        }
    }
    .menuIcon{
        display: none;
    }

    .logoBox{
        z-index: 2;
    }

    .videoCallBtn{
        display: block;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        text-align: right;
        @include videoCallBtnMixin ($darkBlue, 200px, 50px, 18px)
    }

}